<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] TEST %-5level %logger{36} - %msg%n" />
        </Console>
    </appenders>
    <Loggers>
        <Logger name="org.hibernate.SQL" level="warn" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="jpaworkshop" level="debug" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="jpaworkshop.listener" level="warn" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Root level="warn">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</configuration>